.plan_button{
    width: fit-content;
    height: fit-content;
    top: 40%;
    padding: 0.5% 1% 0.5% 1%;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1.2vw;
    background:#36e3bb;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 3px #53b8a1;
    transition: 0.2s;
}
.plan_button:hover{
    background: #35a98e;
}

.edit{
    width: fit-content;
    height: fit-content;
    top: 20%;
    padding: 2% 10% 2% 10%;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.8vw;
    background:#36e3bb;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 3px #53b8a1;
    transition: 0.2s;
}
.edit:hover{
    background: #35a98e;
}

.card_box{
    
    height: fit-content;
    width: 200%;
    
    margin-top: 20%;
}

.note_single{
    background: rgb(255, 253, 253);
}

.card_hdr{
    display: flex;
    height: 6vh;
    margin-top: 20px;
    width: 10vw;
}