.form_container{
    border-radius: 20px;
    width: 40%;
    height: 80%;
    position: absolute;
    margin-left: 30%;
    margin-top:5%;
    padding: 0.5%;
    display: block;
    justify-content: center;
    box-shadow: 0px 0px 10px 3px rgba(110, 114, 120,0.5) ;
}

.headnote{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 5%;
    margin-top: 10%;
    position: absolute;
    border-radius: 20px;
    font-size: 1.6vw;
    color:white;
    background-color: #ff6f71d1;
    width: fit-content;
    box-shadow: 0px 0px 10px 3px rgba(110, 114, 120,0.5) ;
}
label{
    font-size: 1.5vw;
}
.forms{
    height: fit-content;
    margin-top: 10%;
    margin-left: 15%;
    
}
.title_blank,.content_blank,.category,.date{
    color: black;
    box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.5) ;
    border-radius: 5px;
    padding: 0.8%;
    transform: scale(1.4);
    margin-left:5%;
    margin-bottom: 2%;
    font-size: 0.7vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.reset{
    width: 30%;
    background-color: #F47174;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    display: flex;
    font-size: 1.2vw;
    justify-content: center;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 1px 3px 5px 2px #cc6163 ;
    transition: 0.3s;
}

.reset:hover{
    background-color: #b1393b;
}
.imgnote{
    left:12% ;
  top:25%;
  position: absolute;
  height: auto;
  width: 30%;
}

.bgsq{
    
        height: 120%;
        width: 50%;
        left: 0%;
        top: -10%;
        position: fixed;
        z-index: -1;
        background-color: #B6D0E2;
        
}

.bgsq1{
    
    height: 120%;
    width: 50%;
    left: 50%;
    top: -10%;
    position: fixed;
    z-index: -1;
    background-color: #F47174;
    
}

.cont_preview{
    position: absolute;
    width: 50%;
    background: #F47174;
    padding: 2%;
    padding-bottom: 1%;
    border-radius: 5px;
    left:-65%;
    top:380%;
}
