.form_container{
    border-radius: 20px;
    width: 40%;
    height: 80%;
    position: absolute;
    margin-left: 30%;
    margin-top:1.5%;
    padding: 0.5%;
    display: block;
    justify-content: center;
    box-shadow: 0px 0px 10px 3px rgba(110, 114, 120,0.5) ;
}
.headnote{
    padding: 1%;
    margin-left: 31%;
    border-radius: 20px;
    font-size: 1.8vw;
}
label{
    font-size: 1.5vw;
}
.forms{
    height: fit-content;
}
.title_blank,.content_blank,.category,.date{
    color: black;
    box-shadow: 0px 0px 10px 3px rgba(110, 114, 120,0.5) ;
    border-radius: 20px;
}